<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lobby/lobby.css">
    <script src="/lobby/lobby.js"></script>
    <title>Island of Pioneers</title>
</head>
<body>
    <div class="lobbyText">
        <p>Lobby</p>
        <p onclick="copyToClipboard()" id="lobbyID"></p> 
    </div>
    <div class="lobby">
        <div class="playerList">
            <div class="player" style="background-color: rgba(255, 0, 200, 0.5);">
                <p class="playerName">Simon</p>
            </div>
            <div class="player" style="background-color: rgba(33, 218, 48, 0.5);">
                <p class="playerName">Simon</p>
            </div>
            <div class="player" style="background-color: rgba(51, 253, 209, 0.5);">
                <p class="playerName">Simon</p>
            </div>
            <div class="player" style="background-color: rgba(206, 83, 35, 0.5);">
                <p class="playerName">Simon</p>
            </div>
            <div class="player" style="background-color: rgba(31, 132, 190, 0.5);">
                <p class="playerName">Simon</p>
            </div>
        </div>
        <div class="gameInfo">
            <div class="chat">
                <ul id="messages"></ul>
                <form id="chatControls">
                    <input autocomplete="off" id="chatInput">
                    <button class="chatSend">Senden</button>
                </form>

            </div>
            <div class="settings">
                <button>Game Start</button>
            </div>
        </div>
    </div>
</body>
</html>