<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Island of Pioneers</title>
        <script src="https://pixijs.download/release/pixi.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="\login\login.css">
        <script src="/login/login.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <h1>Login</h1>
            
            <div class="inputbox">
                <input id="username" class="node" type="text" placeholder="Username" required>
            </div>
            
            <div class="inputbox">
                <input id="password" class="node" type="text" placeholder="Password" required>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Remeber me</label>
                <a href="#">Forgot password?</a>
            </div>

            <button class="btn" type="submit" onclick=login()>Login</button>

            <div class="register-link">
                <p>dont have an account? 
                    <a href="\register">Register</a>
                </p>

            </div>

        </div>
    </body>
</html>