<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Island of Pioneers</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/global.js"></script>
    <link rel="stylesheet" href="/mainMenu/mainMenu.css">
    <script src="/mainMenu/mainMenu.js" defer></script>
</head>

<body>
    <header>
        <button id="btn-logOut" type="button" onclick="logout()">Abmelden</button>
        <p id="username"></p>
    </header>

    <section id="mainMenu">
        <h1>Menü</h1>
        <div> <button class="btn-select" onclick="createLobby()">Lobby erstellen</button></div>
        <div> <button class="btn-select" onclick="createPrivateLobby()">Private Lobby</button></div>
        <div> <button class="btn-select" onclick="quickGame()">Schnelles Spiel</button></div>
        <div> <button class="btn-select" onclick="searchMenu()">Spiel suchen</button></div>
        <div> <button class="btn-select" onclick="optionMenu()">Einstellungen</button></div>
    </section>

    <section id="searchMenu">
        <h1>Lobby suchen</h1>
        <div><button class="btn-select" onclick="mainMenu()">Zurück zum Menü</button></div>

    </section>
    <section id="optionMenu">
        <h1>Option</h1>
        <div><button class="btn-select" onclick="mainMenu()">Zurück zum Menü</button></div>
    </section>
    
</body>

</html>