<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Island of Pioneers</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/global.js"></script>
    <link rel="stylesheet" href="/public//mainMenu/mainMenu.css">
    <script src="/public/mainMenu/mainMenu.js"></script>

</head>

<body>

    <header>
        <button id="btn-logOut" type="button" onclick="logOut()">Abmelden</button>
        <p id="username"></p>
    </header>

    <section id="menu">
        <h1>Menü</h1>
        <div> <button class="btn-select" onclick="createLobby()">Lobby erstellen</button></div>
        <div> <button class="btn-select" onclick="createPrivateLobby()">Private Lobby</button></div>
        <div> <button class="btn-select" onclick="quickGame()">Schnelles Spiel</button></div>
        <div> <button class="btn-select" onclick="searchLobby()">Spiel suchen</button></div>
        <div> <button class="btn-select" onclick="openOptions()">Einstellungen</button></div>
    </section>
    <section id="searchLobby">

        <div><button class="btn-select" onclick="backMenu()">Zurück</button></div>

    </section>
    <section id="option"></section>

</body>

</html>