* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {

    background-color: rgb(18, 59, 75);
    //background-image: url('/public/assets/background/test1.jpg'); 
   // background-size: cover; /* Größe des Hintergrundbildes (cover = Bild wird gestreckt, um den gesamten Bereich zu bedecken) */
   // background-position: center; /* Position des Hintergrundbildes (zentriert) */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

h1 {
    font-size: 55px;
    padding-bottom: 32px;
}

#username {
    margin: 25px;
    font-size: 30px;
    font-weight: 600;
    color: white;

}

header {
    justify-content: space-between;
    display: flex;
}

section {

    flex: 1;
    display: flex;
    flex-direction: column; // die Buttons untereindner
    justify-content: center; /* vertikal mittig ausrichten */
    align-items: center; /* horizontal mittig ausrichten */
}

button {

    width: 300px;
    height: 70px;
    font-weight: 600;
    border-radius: 15px;
    background-color: transparent;
    /* Transparenter Hintergrund */
    color: rgb(206, 206, 205);
    /* Textfarbe */
    padding: 18px 40px;
    margin: 22px;
    font-size: 22px;
    /* Schriftgröße */
    border: none;
    /* Rand des Buttons entfernen */
    outline: none;
    /* Entfernen Sie den Fokus-Rahmen */
    cursor: pointer;
    /* Zeiger auf Mauszeiger ändern */
    position: relative;
    /* Position relativ für das Overlay */
    overflow: hidden;
    /* Verstecken Sie den überlappenden Bereich */
    box-shadow: 0px 2px 10px 0px rgba(13, 13, 13, 0.4);
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        opacity: 0.8;
        font-size: 20px;

        &::before {
            background-color: rgba(19, 7, 7, 0.5);
        }
    }


    &::before {
        content: '';
        /* Fügt ein Pseudo-Element hinzu */
        position: absolute;
        /* Position absolut für das Overlay */
        top: 0;
        /* Positionierung oben */
        left: 0;
        /* Positionierung links */
        width: 100%;
        /* Breite des Overlay */
        height: 100%;
        /* Höhe des Overlay */
        background-color: rgba(210, 207, 207, 0.25);
        /* Hintergrundfarbe mit Transparenz */
        z-index: -1;
        /* Stellen Sie das Overlay hinter den Text */
        transition: 0.5s;
    }
}